<p *ngIf="user==null">You need to Login First!</p>

<div class="container " *ngIf="user!==null">
    <div class="row justify-content-center">
        <div class="col-md-10 " *ngFor="let following of followings">
            <div class="album box" *ngFor="let post of following.posts">
                <div class="status-main">
                    <img [src]="following.avatar" class="status-img" />
                    <div class="album-detail">
                        <div class="album-title"><strong>{{following.name}}</strong> posted at
                            <span>{{post.category}}</span>
                        </div>
                        <div class="album-date">{{post.uploadDate | momentTime}}</div>
                    </div>
                    <button class="intro-menu"></button>
                </div>
                <div class="album-content"> {{post.caption}}
                    <div class="">
                        <img [src]="post.image" alt="" class="img-fluid album-photo" />

                    </div>
                </div>
                <div class="album-actions">
                    <a class="album-action">
                        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                            stroke-linejoin="round" viewBox="0 0 24 24" *ngIf="!post.isLiked"
                            (click)="likeOurPost(post)">
                            <path
                                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                        </svg>
                        <svg stroke="pink" stroke-width="2" fill="pink" stroke-linecap="round" stroke-linejoin="round"
                            viewBox="0 0 24 24" *ngIf="post.isLiked" (click)="likeOurPost(post)">
                            <path
                                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                        </svg>
                        {{post.likeCount}}
                    </a>
                    <a href="#" class="album-action">
                        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                            stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                            <path d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z" />
                        </svg>
                        {{post.commentCount}}
                    </a>
                    <a href="#" class="album-action">
                        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                            stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                            <path d="M17 1l4 4-4 4" />
                            <path d="M3 11V9a4 4 0 014-4h14M7 23l-4-4 4-4" />
                            <path d="M21 13v2a4 4 0 01-4 4H3" />
                        </svg>
                        {{post.shareCount}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>