<div>
    <div *ngIf="user.work">
        <h5 class="font-weight-bold">Work</h5>
        <div class="d-flex flex-row align-items-center mb-3">
            <i class="fas fa-briefcase mr-2 mb-2"></i>
            <h5>{{user.work.designation}} at {{user.work.organization}}</h5>
        </div>
    </div>
    <h5 class="font-weight-bold">University</h5>
    <div class="d-flex flex-row align-items-center mb-3">
        <i class="fas fa-briefcase mr-2 mb-2"></i>
        <h5>Studied at {{user.education.college}}</h5>
    </div>
    <h5 class="font-weight-bold">High-School</h5>
    <div class="d-flex flex-row align-items-center mb-3">
        <i class="fas fa-briefcase mr-2 mb-2"></i>
        <h5>Studied at {{user.education.highSchool}}</h5>
    </div>
    <h5 class="font-weight-bold">School</h5>
    <div class="d-flex flex-row align-items-center mb-3">
        <i class="fas fa-briefcase mr-2 mb-2"></i>
        <h5>Studied at {{user.education.school}}</h5>
    </div>
</div>